@model GlossaryWeb.Models.Glossary
@{
    var title = "Create";
}

    <form method="post" asp-action="UpdateCreate" enctype="multipart/form-data">

        <div class="row px-2 mx-2 backgroundWhite border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Id != 0)
            {
                <input type="hidden" asp-for="Id" />
                title = "Edit  ";
            }
            <div class="col-12 p-3">
                <h2 class="text-primary">@title</h2>
            </div>
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        Glossary

                    </div>
                    <div class="col-8">

                    </div>
                </div>

                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Term"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Term" class="form-control" />

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Definition"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Definition" class="form-control" />

                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-4 offset-4">
                            <!-- <button type="submit" class="btn btn-primary form-control">
                                @(Model.Id != 0 ? "Update" : "Create")
                            </button>-->
                            <input type="button" value="Create" onclick="Create('');">

                        </div>
                        <div class="col-4">
                            <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </form>


@section scripts{

    <script>
        function Create(url) {

            var tr = document.getElementById("Term").value;
            var def = document.getElementById("Definition").value;
            $.ajax({
                type: 'POST',
                url: '/glossary/Create',
                data:{"Term": tr,"Definition":def},
                success: function (data) {
                    if (data.success) {
                        alert('success');

                    }
                    else {
                       
                    }
                }
            });
        }
    </script>
}

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}